﻿@page
@model SimpleBlog.Pages.Post.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Post.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Post.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Post.Detail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Post.Detail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Post.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Post.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Post.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
