﻿
.sidebar-user-panel {
    text-align: center;
    padding: 15px;
    color:white;
}

.sidebar-user-panel .name {
    margin: 0;
    font-family: Verdana,"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.column-in-center {
    border: 1px solid;
    float: none;
    margin: 0 auto;
}