﻿


/*
-----------------------------------------------
Template Name  : Nordic
Author         : NewBloggerThemes.com
Author URL     : http://newbloggerthemes.com/
Theme URL      : http://newbloggerthemes.com/nordic-blogger-template/
Created Date   : Monday, May 16, 2016
License        : GNU General Public License v2 or later
This template is free for both personal and commercial use, But to satisfy the 'attribution' clause of the license, you are required to keep the footer links intact which provides due credit to its authors.
----------------------------------------------- */
body#layout ul {
    list-style-type: none;
    list-style: none
}

    body#layout ul li {
        list-style-type: none;
        list-style: none
    }

body#layout #headerbwrap {
    height: auto;
}

body#layout #content {
}

body#layout .widget_searchnbt {
    display: none;
}
/* Variable definitions
====================
*/
/* Use this with templates/template-twocol.html */
.section, .widget {
    margin: 10px 0 0 0;
    padding: 0;
}

.section, .widget {
    margin: 0px;
    padding: 0px;
    line-height: 1.4;
}

    .widget ul, .widget li {
        margin: 0px;
        padding: 0px;
        line-height: 1.3;
    }
/*--------------------------------------------------------------
Normalize
--------------------------------------------------------------*/
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block;
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
}

    audio:not([controls]) {
        display: none;
        height: 0;
    }

[hidden], template {
    display: none;
}

a {
    background-color: transparent;
}

    a:active, a:hover {
        outline: 0;
    }

abbr[title] {
    border-bottom: 1px dotted;
}

b, strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

mark {
    background: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 1em 40px;
}

hr {
    box-sizing: content-box;
    height: 0;
}

pre {
    overflow: auto;
}

code, kbd, pre, samp {
    font-family: monospace,monospace;
    font-size: 1em;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button, select {
    text-transform: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

    button[disabled], html input[disabled] {
        cursor: default;
    }

    button::-moz-focus-inner, input::-moz-focus-inner {
        border: 0;
        padding: 0;
    }

input {
    line-height: normal;
}

    input[type="checkbox"], input[type="radio"] {
        box-sizing: border-box;
        padding: 0;
    }

    input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
        height: auto;
    }

    input[type="search"] {
        -webkit-appearance: textfield;
        box-sizing: content-box;
    }

        input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
            -webkit-appearance: none;
        }

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td, th {
    padding: 0;
}
/*--------------------------------------------------------------
Basic Structure
--------------------------------------------------------------*/
/**Removes right scroll**/
html, body {
    overflow-x: hidden;
}

.content-areanbt {
    background: #fff;
}

.content-areanbt {
    margin-left: 25px;
    margin-right: 25px;
}

.site-mainnbt {
    width: 100%;
    max-width: 950px;
    clear: both;
    margin: 0 auto;
    background: #fff;
}

    .site-mainnbt .post {
        border: solid 3px black;
        padding: 0 4rem;
    }

.site-footernbt {
    clear: both;
    width: 100%;
}

.entry-header, .entry-content, .entry-metanbt, .entry-footer, .index-boxnbt {
    position: relative;
    max-width: 950px; /*padding:0 4rem;*/
    margin: 0 auto;
}

@media screen and (max-width:600px) {
    .content-areanbt {
        margin-left: 5px;
        margin-right: 5px;
    }

    .entry-header, .entry-content, .entry-metanbt, .entry-footer, .index-boxnbt, .site-footernbt {
        padding: 0 10px;
    }
}
/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/
body, button, input, select, textarea {
    color: #404040;
    color: hsl(0,0%,25%);
    font-family: 'Dosis',serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    clear: right;
    font-weight: 700;
    font-family: 'Amatic SC',sans-serif;
    color: #000;
    color: hsl(0,0%,0%);
    -ms-word-break: break-word;
    word-break: break-word;
}

h1 {
    font-size: 64px;
    font-size: 4rem;
}

h2 {
    font-size: 40px;
    font-size: 2.5rem;
}

h3 {
    font-size: 32px;
    font-size: 2rem;
}

h4 {
    font-size: 28px;
    font-size: 1.75rem;
}

h5 {
    font-size: 26px;
    font-size: 1.625rem;
}

h6 {
    font-size: 23px;
    font-size: 1.4375rem;
}

p {
    margin-bottom: 1.5em;
}

dfn, cite, em, i {
    font-style: italic;
}

blockquote { /*  margin:0 1.5em;*/
    ;
}

address {
    margin: 0 0 1.5em;
}

pre {
    background: #eee;
    font-family: "Courier 10 Pitch",Courier,monospace;
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}

code, kbd, tt, var {
    font-family: Monaco,Consolas,"Andale Mono","DejaVu Sans Mono",monospace;
    font-size: 15px;
    font-size: 0.9375rem;
}

abbr, acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

mark, ins {
    background: #fff9c0;
    text-decoration: none;
}

big {
    font-size: 125%;
}
/*--------------------------------------------------------------
Elements
--------------------------------------------------------------*/
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: #fff;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: "";
}

blockquote, q {
    quotes: "" "";
}

hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}

ul, ol {
    margin: 0 0 1.5em 3em;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

li > ul, li > ol {
    margin-bottom: 0;
    margin-left: 1.5em;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 1.5em 1.5em;
}

img {
    height: auto;
    max-width: 100%;
}

table {
    margin: 0 0 1.5em;
    width: 100%;
}
/*--------------------------------------------------------------
Forms
--------------------------------------------------------------*/
button, input[type="button"], input[type="reset"], input[type="submit"] {
    padding: 1em 2em;
    font-size: 16px;
    font-size: 1rem;
    font-family: 'Dosis',sans-serif;
    line-height: 1;
    color: hsl(0,0%,100%);
    background: #3c3c3c;
    background: hsl(0,0%,24%);
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    -webkit-appearance: button;
}

    button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
        background: #000;
        background: hsl(0,0%,0%);
    }

    button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus, button:active, input[type="button"]:active, input[type="reset"]:active, input[type="submit"]:active {
        background: #000;
        background: hsl(0,0%,0%);
    }

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], textarea {
    padding: 8px;
    font-family: 'Dosis',sans-serif;
    color: #333;
    border: 1px solid #ccc;
}

    input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus, textarea:focus {
        color: #111;
    }

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"] {
    padding: 3px;
}

textarea {
    padding-left: 3px;
    width: 100%;
}
/*--------------------------------------------------------------
Links
--------------------------------------------------------------*/
a {
    text-decoration: none;
    color: #000;
    color: hsl(0,0%,0%);
}

    a:visited {
        color: #333;
        color: hsl(0,0%,20%);
    }

    a:hover, a:focus, a:active {
        text-decoration: underline;
    }

    a:focus {
        outline: thin dotted;
    }

    a:hover, a:active {
        outline: 0;
    }
/*--------------------------------------------------------------
Menus
--------------------------------------------------------------*/
.main-navigationnbt {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    clear: both;
    display: block;
    float: none;
    padding-left: 25px;
    padding-right: 25px;
}

    .main-navigationnbt ul {
        list-style: none;
        margin: 0;
        padding-left: 0;
    }

    .main-navigationnbt li {
        float: left;
        position: relative;
        font-family: 'Dosis',sans-serif;
        text-transform: uppercase;
    }
        /**Injects space between menu items**/
        .main-navigationnbt li a::after {
            content: "\00a0\00a0\00a0\00a0";
        }

    .main-navigationnbt a {
        display: block;
        padding: 0.2em 0.9em;
        margin-left: -0.9em;
        margin-right: -0.9em;
        
        text-decoration: none;
        line-height: 1.3em;
        color: #000;
        color: hsl(0,0%,0%);
    }

    .main-navigationnbt ul ul {
        position: absolute;
        left: 0;
        z-index: 99999;
        display: none;
        float: left;
        padding: 0;
        background: #B2B2B2;
    }

        .main-navigationnbt ul ul ul {
            left: 100%;
            top: 0;
        }

        .main-navigationnbt ul ul a {
            width: 200px;
        }

        .main-navigationnbt ul ul li {
            padding: 5px;
            text-transform: none;
            font-family: 'Dosis',serif;
            border-bottom: solid black 1px;
        }

    .main-navigationnbt li:hover > a {
        color: #07948B;
    }

    .main-navigationnbt ul ul:hover > a {
    }

    .main-navigationnbt ul ul a:hover {
        color: #07948B;
    }

    .main-navigationnbt ul li:hover > ul {
        display: block;
    }

    .main-navigationnbt ul ul li:hover > ul {
        left: 100%;
    }

    .main-navigationnbt .current_page_item > a, .main-navigationnbt .current-menu-item > a, .main-navigationnbt .current_page_item > a:hover, .main-navigationnbt .current-menu-item > a:hover {
        color: #07948B;
    }

    .main-navigationnbt .current_page_ancestor {
        text-decoration: underline;
    }

    .main-navigationnbt ul ul .current_page_parent, .main-navigationnbt .current_page_parent .current_page_item > a {
        color: #fff;
        color: hsl(0,0%,100%);
    }

.menu-socialnbt a {
    padding-left: 12px;
}
/* Small menu */
.menu-togglenbt {
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 600px) {
    .menu-togglenbt {
        display: block;
        height: 2em;
        padding: 0.15em 1em 1em;
        font-weight: normal;
        font-size: 24px;
        font-size: 1.5rem;
        text-decoration: none;
        line-height: 1.5;
        color: white;
        margin: auto;
        float: left;
    }

    .main-navigationnbt.toggled .nav-menu {
        display: block;
    }

    .main-navigationnbt ul {
        display: none;
        padding-left: 0;
    }

    .main-navigationnbt li {
        display: block;
        float: none;
        clear: both;
    }

        .main-navigationnbt li a {
            padding: 1.3em 2em;
        }

        .main-navigationnbt li li a {
            padding-left: 3em;
        }

        .main-navigationnbt li li li a {
            padding-left: 4em;
        }

        .main-navigationnbt li:hover > a {
        }

    .main-navigationnbt .children, .main-navigationnbt ul ul, .main-navigationnbt ul ul ul {
        position: static;
        top: inherit;
        left: 0;
        display: block;
        float: none;
        background: transparent;
    }

        .main-navigationnbt ul ul a {
            width: 100%;
        }

            .main-navigationnbt ul a:hover, .main-navigationnbt ul ul a:hover {
            }

    .main-navigationnbt .current_page_ancestor {
        background: inherit;
    }

    .main-navigationnbt ul ul .current_page_parent {
        color: inherit;
        background: inherit;
    }

    .main-navigationnbt .current_page_item > a, .main-navigationnbt .current_page_item > a:hover, .main-navigationnbt .current_page_item li:hover, .main-navigationnbt .current_page_parent .current_page_item > a {
        color: #07948B;
    }
}

// End responsive menu
/* Social Menu */
.menu-socialnbt {
    float: right;
}

.menu-socialnbt ul {
    float: right;
    text-align: right;
    list-style: none;
}

    .menu-socialnbt ul li {
        position: relative;
        display: inline-block;
    }

.menu-socialnbt li a:before {
    display: inline-block;
    padding: 0 5px;
    vertical-align: top;
    font-family: 'Fontawesome';
    font-size: 20px;
    color: #000;
    -webkit-font-smoothing: antialiased;
    content: '\f0c0';
}

.menu-socialnbt li a[href*="facebook.com"]::before {
    content: '\f09a';
}

.menu-socialnbt li a[href*="twitter.com"]::before {
    content: '\f099';
}

.menu-socialnbt li a[href*="dribbble.com"]::before {
    content: '\f17d';
}

.menu-socialnbt li a[href*="plus.google.com"]::before {
    content: '\f0d5';
}

.menu-socialnbt li a[href*="pinterest.com"]::before {
    content: '\f0d2';
}

.menu-socialnbt li a[href*="github.com"]::before {
    content: '\f09b';
}

.menu-socialnbt li a[href*="tumblr.com"]::before {
    content: '\f173';
}

.menu-socialnbt li a[href*="youtube.com"]::before {
    content: '\f167';
}

.menu-socialnbt li a[href*="flickr.com"]::before {
    content: '\f16e';
}

.menu-socialnbt li a[href*="vimeo.com"]::before {
    content: '\f194';
}

.menu-socialnbt li a[href*="instagram.com"]::before {
    content: '\f16d';
}

.menu-socialnbt li a[href*="linkedin.com"]::before {
    content: '\f0e1';
}

.menu-socialnbt li a[href*="feeds/posts/default"]::before {
    content: '\f09e';
}

@media screen and (max-width: 600px) {
    #menu-socialnbt ul {
        position: relative;
        display: inline;
        float: right;
    }

    #menu-socialnbt li a {
        padding-left: .5em;
        padding-right: .5em;
    }
}
/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px,1px,1px,1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    right: 0;
}

    .screen-reader-text:hover, .screen-reader-text:active, .screen-reader-text:focus {
        background-color: #f1f1f1;
        border-radius: 3px;
        box-shadow: 0 0 2px 2px rgba(0,0,0,0.6);
        clip: auto !important;
        color: #21759b;
        display: block;
        font-size: 14px;
        font-size: 0.875rem;
        font-weight: bold;
        height: auto;
        left: 5px;
        line-height: normal;
        padding: 15px 23px 14px;
        text-decoration: none;
        top: 5px;
        width: auto;
        z-index: 100000;
    }
/*--------------------------------------------------------------
Clearings
--------------------------------------------------------------*/
.clear:before, .clear:after, .clearnbt:before, .clearnbt:after, .entry-content:before, .entry-content:after, .site-headernbt:before, .site-headernbt:after, .site-contentnbt:before, .site-contentnbt:after, .site-footernbt:before, .site-footernbt:after {
    content: "";
    display: table;
}

.clear:after, .clearnbt:after, .entry-content:after, .site-headernbt:after, .site-contentnbt:after, .site-footernbt:after {
    clear: both;
}
/*--------------------------------------------------------------
Header
--------------------------------------------------------------*/
.site-brandingnbt {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 30px;
}

.site-titlenbt {
    font-weight: 700;
    font-size: 64px;
    font-size: 4rem;
    text-transform: uppercase;
    line-height: normal;
    margin-bottom: -1rem;
    margin-top: -0.2rem;
}

.site-descriptionnbt {
    font-weight: 100;
    font-size: 32px;
    font-size: 2rem;
    margin-top: -0.5rem;
    margin-bottom: 1rem;
}

.site-brandingnbt a {
    text-decoration: none;
}

.site-titlenbt a, .site-descriptionnbt {
    color: #000;
    color: hsl(0,0%,0%);
}
/* Header search */
.search-togglenbt {
    float: right;
    width: 54px;
    height: 54px;
    padding: -12px;
    color: #000;
    text-align: center;
    cursor: pointer;
}

    .search-togglenbt:hover, .search-togglenbt.active {
    }

@media screen and (max-width: 600px) {
    .search-togglenbt {
        position: static;
        top: 0;
        right: 0;
        margin-right: 0;
    }
}

input[type="search"] {
    box-sizing: border-box;
    width: 100%;
}

.search-box-wrappernbt {
    z-index: 2;
    width: 100%;
    max-width: 392px;
    margin: 0 auto;
    float: right;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 0;
    display: none;
}

.search-boxnbt {
    padding: 0.3em;
    background: #4d4d4d;
    background: hsl(0,0%,30%);
}

    .search-boxnbt .search-fieldnbt {
        max-width: 362px;
        float: right;
        font-size: 16px;
        font-size: 1rem;
        background-color: #fff;
        border: 0;
    }

    .error404 .search-submitnbt, .search .search-submitnbt, .search-boxnbt .search-submitnbt {
        display: none;
    }
/*--------------------------------------------------------------
Widgets
--------------------------------------------------------------*/
.widget-areanbt .widget {
    margin: 0 0 4em;
    font-size: 16px;
    font-size: 1rem;
}

.widget-areanbt {
    margin-right: 1.5em;
    background-color: lightgrey;
}

    .widget-areanbt .widget h2 {
        margin-bottom: 1em;
        font-size: 30px;
        font-size: 1.875rem;
        border-bottom: 2px solid #000;
    }

    .widget-areanbt .widget a {
        font-weight: 700;
        color: #000;
    }

    .widget-areanbt .widget ul, .widget-areanbt .widget ol {
        padding: 0;
        margin: -1em 0 0;
        list-style-type: none;
    }

    .widget-areanbt .widget li {
        padding: 1em 5px 0;
    }

        .widget-areanbt .widget li ul, .widget-areanbt .widget li ol {
            margin-top: 0;
        }

        .widget-areanbt .widget li li {
            margin-left: 1.5em;
        }

.widget select {
    max-width: 100%;
}

.widget_searchnbt .search-submitnbt {
    display: none;
}

.footer-widgetsnbt {
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

    .footer-widgetsnbt .widget h2, .footer-widgetsnbt .widget a:hover {
        color: #000;
        color: hsl(0,0%,0%);
        border-color: #000;
        border-color: hsl(0,0%,0%);
    }

    .footer-widgetsnbt .widget {
        float: left;
        width: 180px;
        margin: 0 4rem 4rem 4rem;
    }
/*--------------------------------------------------------------
Content
--------------------------------------------------------------*/
.index-boxnbt {
    max-width: 950px;
    padding: 15px 0 5px;
    margin: 0 auto 5px;
    background: #fff;
}
/*--------------------------------------------------------------
Posts and pages
--------------------------------------------------------------*/
/* Typography */
.entry-title {
    margin: 0 0 1.5rem;
    font-size: 53px;
    font-size: 3.3125rem;
    line-height: 1.3em;
    color: #000;
    color: hsl(0,0%,0%);
}

.entry-content a {
    text-decoration: underline;
}

.entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6 {
    margin-bottom: .4em;
}

.entry-content h1 {
    font-size: 64px;
    font-size: 4rem;
}

.entry-content h2 {
    font-size: 40px;
    font-size: 2.5rem;
}

.entry-content h3 {
    font-size: 32px;
    font-size: 2rem;
}

.entry-content h4 {
    font-size: 28px;
    font-size: 1.75rem;
}

.entry-content h5 {
    font-size: 26px;
    font-size: 1.625rem;
}

.entry-content h6 {
    font-size: 23px;
    font-size: 1.4375rem;
}

.entry-content p, .entry-content ul, .entry-content ol {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.6em;
}

.entry-content blockquote p {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.5em;
}
/* Smaller fonts for smaller screens */
@media screen and (max-width: 680px) {
    .entry-title {
        font-size: 2.8rem;
        line-height: 1.3em;
    }

    .entry-content h1 {
        font-size: 2.7rem;
    }

    .entry-content h2 {
        font-size: 2.6rem;
    }

    .entry-content h3 {
        font-size: 2.4rem;
    }

    .entry-content h4 {
        font-size: 2.2rem;
    }

    .entry-content h5 {
        font-size: 2rem;
    }

    .entry-content h6 {
        font-size: 1.8rem;
    }

    .entry-content p, .entry-content ul, .entry-content ol {
        font-size: 1rem;
    }

    .entry-content blockquote p {
        font-size: 1.5rem;
        line-height: 1.5em;
    }
}

.entry-metanbt {
    margin-bottom: 2rem;
    padding: 0;
    font-family: 'Dosis',sans-serif;
    font-size: 16px;
}

    .entry-metanbt a {
        font-weight: 700;
    }

.entry-footer {
    margin-top: 3rem;
    margin-bottom: 5rem;
    font-family: 'Dosis',sans-serif;
    font-size: 16px;
    font-size: 1rem;
    line-height: 2em;
}

    .entry-footer ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    .entry-footer li {
        display: inline-block;
        margin-right: 4rem;
    }

    .entry-footer a {
        margin-left: .5rem;
    }

blockquote {
    padding: 1em 1.5em 1em;
    margin-bottom: 1em;
    font-style: italic;
    border-top: solid 1px hsl(0,0%,80%);
    border-bottom: solid 1px hsl(0,0%,80%);
}

    blockquote em {
        font-style: normal;
    }

    blockquote cite {
        display: block;
        margin-top: 1em;
        margin-left: 40%;
        font-size: 20px;
        font-size: 1.25rem;
        font-family: 'Dosis',sans-serif;
        font-style: normal;
        line-height: 1.5em;
        text-align: right;
    }

.hentry {
    margin: 0 0 1.5em;
}

.entry-content {
    margin: 1.5em 0 0;
}

.continue-readingnbt {
    margin: 0 4rem;
    font-weight: 700;
    font-size: 16px;
    font-size: 1rem;
}

    .continue-readingnbt i {
        margin-left: .5em;
    }
/*--------------------------------------------------------------
Media
--------------------------------------------------------------*/
/* Make sure embeds and iframes fit their containers. */
embed, iframe, object {
    max-width: 100%;
}
/*--------------------------------------------------------------
16.0 Footer
--------------------------------------------------------------*/
.site-footernbt {
    padding: 2em;
    font-size: 14px;
    font-size: 0.875rem;
    color: #000;
    background-color: #fff;
    width: 100%;
    max-width: 1006px;
    margin: 0 auto;
}

#supplementarynbt {
    background-color: lightgrey;
    border: solid 3px black;
}

.site-footernbt a {
}

    .site-footernbt a:hover {
        color: #07948B;
        text-decoration: none;
    }

.site-infonbt {
    text-align: center;
    padding: 20px 0;
    border-bottom: 3px solid black;
}

@media screen and (max-width:879px) {
    #footer-widgetsnbt {
        width: 100% !important;
    }

    .footer-widgetsnbt .widget {
        float: none;
        width: 100%;
        margin: 0 0 3rem;
    }
}

h2.date-header {
    margin: 10px 0;
    display: none;
}

.main .widget {
    margin: 0 0 5px;
    padding: 0 0 2px;
}

.main .Blog {
    border-bottom-width: 0;
}

#header .description {
}

#comments {
    padding: 2rem;
    margin-bottom: 20px;
    border: 3px solid #000;
}

    #comments h4 {
        font-size: 22px;
        margin-bottom: 10px;
    }

.deleted-comment {
    font-style: italic;
    color: gray;
}

#blog-pager-newer-link {
    float: left;
}

#blog-pager-older-link {
    float: right;
}

#blog-pager {
    text-align: center;
    padding: 5px;
    margin: 10px 0;
}

.feed-links {
    clear: both;
}

.comment-form {
}

#navbar-iframe {
    height: 0;
    visibility: hidden;
    display: none;
}

.author-profile {
    background: #f6f6f6;
    border: 1px solid #eee;
    margin: 10px 0 10px 0;
    padding: 8px;
    overflow: hidden;
}

    .author-profile img {
        border: 1px solid #ddd;
        float: left;
        margin-right: 10px;
    }

.post-iconspbt {
    margin: 5px 0 0 0;
    padding: 0;
}

.post-locationpbt {
    margin: 5px 0;
    padding: 0;
}

.related-postbwrap {
    margin: 10px auto 0;
}

    .related-postbwrap h4 {
        font-weight: bold;
        margin: 10px 0 10px;
    }

.related-post-style-2, .related-post-style-2 li {
    list-style: none;
    margin: 0;
    padding: 0;
}

    .related-post-style-2 li {
        border-top: 1px solid #eee;
        overflow: hidden;
        padding: 10px 0;
    }

        .related-post-style-2 li:first-child {
            border-top: none;
        }

    .related-post-style-2 .related-post-item-thumbnail {
        width: 80px;
        height: 80px;
        max-width: none;
        max-height: none;
        background-color: transparent;
        border: none;
        float: left;
        margin: 2px 10px 0 0;
        padding: 0;
    }

    .related-post-style-2 .related-post-item-title {
        font-weight: bold;
        font-size: 100%;
    }

    .related-post-style-2 .related-post-item-summary {
        display: block;
    }

.related-post-style-3, .related-post-style-3 li {
    margin: 0;
    padding: 0;
    list-style: none;
    word-wrap: break-word;
    overflow: hidden;
}

    .related-post-style-3 .related-post-item {
        display: block;
        float: left;
        width: 140px;
        height: auto;
        padding: 10px;
        border-left: 0 solid #eee;
        margin-bottom: -989px;
        padding-bottom: 999px;
    }

        .related-post-style-3 .related-post-item:first-child {
            border-left: none;
        }

    .related-post-style-3 .related-post-item-thumbnail {
        display: block;
        margin: 0 0 10px;
        width: 120px;
        height: auto;
        max-width: 100%;
        max-height: none;
        background-color: transparent;
        border: none;
        padding: 0;
    }

    .related-post-style-3 .related-post-item-title {
        font-weight: normal;
        text-decoration: none;
    }

.pbtsharethisbutt {
    overflow: hidden;
    padding: 15px 0 5px;
    margin: 0;
    float: left;
}

    .pbtsharethisbutt a {
        padding-left: 5px;
        padding-right: 5px;
    }

.separator a[style="margin-left: 1em; margin-right: 1em;"] {
    margin-left: auto !important;
    margin-right: auto !important;
}

.separator a[style="clear: left; float: left; margin-bottom: 1em; margin-right: 1em;"] {
    clear: none !important;
    float: none !important;
    margin-bottom: 0em !important;
    margin-right: 0em !important;
}

    .separator a[style="clear: left; float: left; margin-bottom: 1em; margin-right: 1em;"] img {
        float: left !important;
        margin: 0px 10px 10px 0px;
    }

.separator a[style="clear: right; float: right; margin-bottom: 1em; margin-left: 1em;"] {
    clear: none !important;
    float: none !important;
    margin-bottom: 0em !important;
    margin-left: 0em !important;
}

    .separator a[style="clear: right; float: right; margin-bottom: 1em; margin-left: 1em;"] img {
        float: right !important;
        margin: 0px 0px 10px 10px;
    }

.PopularPosts .widget-content ul li {
    padding: 6px 0;
}

.reaction-buttons table {
    border: none;
    margin-bottom: 5px;
}

.reaction-buttons table, .reaction-buttons td {
    border: none !important;
}

.pbtthumbimg {
    float: left;
    margin: 0 10px 5px 0;
    padding: 4px;
    border: 0 solid #eee;
    background: none;
    width: 200px;
    height: auto;
}

.pbtthumbimg {
    display: none;
}

.sidebar-user-panel {
    text-align: center;
    padding: 15px;
}

.sidebar-user-panel .name {
    margin: 0;
    font-family: Verdana,"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.column-in-center {
    border: 1px solid;
    float: none;
    margin: 0 auto;
}