﻿@model IEnumerable<SB.Core.DTO.PostDto>

@{
    ViewData["Title"] = "Home Page";
}

<div class="site-mainnbt" id="mainnbt" role="main">
    <div class="mainblogsec section" id="mainblogsec">
        <div class="widget Blog" data-version="1" id="Blog1">
            <div class="blog-posts hfeed">

                <div class="date-outer">

                    <h2 class="date-header"><span>Friday, September 9, 2016</span></h2>

                    <div class="date-posts">
                        
                        @foreach (var item in Model)
                        {
                            <div class="post-outer">
                                <article class="post hentry">
                                    <div class="index-boxnbt">
                                        <meta content="" itemprop="image">
                                        <a name="729515259733111156"></a>
                                        <header class="entry-header">
                                            <h1 class="post-title entry-title" itemprop="headline">
                                                <a href="@Url.Action("PostDetail","Home", new {item.Id})">@item.Title</a>
                                            </h1>
                                            <div class="entry-metanbt">
                                                <span class="post-author vcard">Written by&nbsp;<span class="fn" itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person"><meta content="#" itemprop="url"><a class="g-profile" href="#" rel="author" title="author profile"><span itemprop="name">@item.CreatedBy</span></a></span></span>&nbsp;
                                                on <a class="timestamp-link" href="#" rel="bookmark" title="permanent link"><span class="published updated" itemprop="datePublished" title="@item.CreatedDate.ToLongTimeString()">@item.CreatedDate.ToShortDateString()</span></a>&nbsp;
                                                in <a href="@Url.Action("Index","Home", new {item.CategoryId})" rel="tag">@item.CategoryName</a>&nbsp;
                                                @*with
                                                <a class="comment-link" href="https://nordic-btemplates.blogspot.com/2016/09/demo-post-with-formatted-elements-and.html#comment-form" onclick="">
                                                    22 comments
                                                </a>*@
                                            </div>
                                        </header>
                                        <div class="post-header-line-1"></div>
                                        <div class="post-body entry-content" id="post-body-729515259733111156">
                                            <div id="summary729515259733111156">
                                                <div> @Html.Raw(item.Description)</div>
                                            </div>
                                            
                                            <div style="float: right; padding-right: 0; margin-top: 15px;">
                                                <a class="readmorenbt" href="@Url.Action("PostDetail","Home", new {item.Id})">Read More</a>
                                            </div>
                                            <div style="clear: both;"></div>
                                        </div>
                                    </div>
                                </article>
                                <div style="clear: both;"></div>
                            </div>
                        }
                       

                    </div>
                </div>

                <!--Can't find substitution for tag [adEnd]-->
            </div>
            <div style="clear: both;"></div>
            <div class="blog-pager" id="blog-pager">
                
                <a class="home-link" href="~/">Home</a>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div><!-- #main -->
