﻿@model SimpleBlog.Areas.Admin.Models.PostViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>Posts</h2>
<div class="row">
    <div class="col-lg-12 form-group">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Add New</button>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <form id="frmAddPost" asp-controller="Post" asp-action="Add" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add New Post</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-form-label" asp-for="CategoryId"></label>
                                <select class="form-control" asp-for="CategoryId" asp-items="@Model.CategoryList"></select>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label" asp-for="Title"></label>
                                <textarea class="form-control" asp-for="Title"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label" asp-for="Detail"></label>
                                <textarea class="form-control" asp-for="Detail"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label" asp-for="Description"></label>
                                <textarea class="form-control" asp-for="Description"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <table id="example" class="display" style=""></table>
    </div>
</div>


<script>

    $(document).ready(function() {
        $('#example').DataTable( {
            "processing": true,
            "serverSide": true,
            "searching": false,
            "ajax": '@Url.Action("GetAll","Post")',
            columns: [{
                title: "Category Name",
                data: "categoryName"
                },
                {
                    title: "Title",
                    data: "title"
                },
                {
                    title: "Detail",
                    data: "detail"
                },
                {
                    title: "Description",
                    data: "description"
                }
            ]
        });

        // this is the id of the form
        $("#frmAddPost").submit(function (e) {

            $.ajax({
                type: "POST",
                url: '@Url.Action("Add", "Post")',
                data: $("#frmAddPost").serialize(), // serializes the form's elements.
                success: function (data) {
                    if (data) {
                        $('#example').DataTable().ajax.reload();
                    }

                    $('#myModal').modal('hide');
                }
            });
            e.preventDefault();
        });
    } );

</script>
