﻿
@using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
{
    @Html.AntiForgeryToken()
}

@model string
@if (Model != null)
{
    @*<img class="img-circle" src="@Url.Content(Model.ProfilePhotoPath)" alt="">*@
    <p class="welcome">
        <i class="fa fa-key"></i> Logged in As
    </p>

    <p class="name tooltip-sidebar-logout">
        <span class="last-name">@Model</span>
        <a id="linkLogoutProfile" class="logout-tooltip" title="Log out" href="javascript:document.getElementById('logoutForm').submit()">
            <i class="fa fa-sign-out"></i>
        </a>
    </p>
}