﻿<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Simple Blog Admin</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    @*<!-- Bootstrap 3.3.6 -->
        <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
        <!-- Ionicons -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
        <!-- Theme style -->
        <link rel="stylesheet" href="dist/css/AdminLTE.min.css">
        <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
              page. However, you can choose any other skin. Make sure you
              apply the skin class to the body tag so the changes take effect.
        -->
        <link rel="stylesheet" href="dist/css/skins/skin-blue.min.css">*@
    <script src="~/js/thirdParty/jquery-3.1.1.min.js"></script>
    <script src="~/js/thirdParty/jquery-ui-1.12.1.min.js"></script>
    <script src="~/js/thirdParty/jquery.validate.min.js"></script>
    <script src="~/js/thirdParty/jquery.validate.unobtrusive.min.js"></script>
    <link rel="stylesheet" href="~/js/thirdParty/font-awesome.min.css">
    <link rel="stylesheet" href="~/js/thirdParty/ionicons.min.css">
    <link rel="stylesheet" href="~/js/thirdParty/custom-bootstrap.css">
    <link rel="stylesheet" href="~/js/thirdParty/AdminLTE/plugins/datatables/dataTables.bootstrap.css">
    <link rel="stylesheet" href="~/js/thirdParty/AdminLTE/plugins/datatables/dataTables.fontAwesome.min.css">
    <link rel="stylesheet" href="~/js/thirdParty/AdminLTE/plugins/datatables/jquery.dataTables.css">
    @*<link rel="stylesheet" href="https://cdn.datatables.net/1.10.18/css/jquery.dataTables.min.css">*@

    <link rel="stylesheet" href="~/js/thirdParty/AdminLTE/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/js/thirdParty/AdminLTE/plugins/iCheck/minimal/_all.css">
    <link rel="stylesheet" href="~/js/thirdParty/AdminLTE/plugins/iCheck/square/_all.css">
    <link rel="stylesheet" href="~/js/thirdParty/AdminLTE/plugins/iCheck/flat/_all.css">
    <link rel="stylesheet" href="~/js/thirdParty/AdminLTE/plugins/iCheck/line/_all.css">
    <link rel="stylesheet" href="~/js/thirdParty/AdminLTE/plugins/iCheck/polaris/polaris.css">
    <link rel="stylesheet" href="~/js/thirdParty/AdminLTE/plugins/iCheck/futurico/futurico.css">
    @*<link rel="stylesheet" href="~/js/thirdParty/stylesheet/tst.min.css">*@
    <link rel="stylesheet" href="~/js/thirdParty/jquerydatetimepicker/jquery.datetimepicker.min.css" />

    <link rel="stylesheet" href="~/js/thirdParty/AdminLTE/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="~/js/thirdParty/AdminLTE/dist/css/alt/AdminLTE-bootstrap-social.min.css">
    <link rel="stylesheet" href="~/js/thirdParty/AdminLTE/dist/css/alt/AdminLTE-fullcalendar.min.css">
    <link rel="stylesheet" href="~/js/thirdParty/AdminLTE/dist/css/alt/AdminLTE-select2.css">
    <link rel="stylesheet" href="~/js/thirdParty/AdminLTE/dist/css/alt/AdminLTE-select2.min.css">
    <link rel="stylesheet" href="~/js/thirdParty/AdminLTE/dist/css/alt/AdminLTE-without-plugins.css">
    <link rel="stylesheet" href="~/js/thirdParty/AdminLTE/dist/css/alt/AdminLTE-without-plugins.min.css">
    <link rel="stylesheet" href="~/js/thirdParty/AdminLTE/dist/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="~/js/thirdParty/AdminLTE/dist/css/skins/skin-black.min.css">
    <link rel="stylesheet" href="~/js/thirdParty/AdminLTE/dist/css/skins/skin-black-light.min.css">
    <link rel="stylesheet" href="~/js/thirdParty/AdminLTE/dist/css/skins/skin-blue.min.css">
    <link rel="stylesheet" href="~/js/thirdParty/AdminLTE/dist/css/skins/skin-blue-light.min.css">
    <link rel="stylesheet" href="~/js/thirdParty/AdminLTE/dist/css/skins/skin-green.min.css">
    <link rel="stylesheet" href="~/js/thirdParty/AdminLTE/dist/css/skins/skin-green-light.min.css">
    <link rel="stylesheet" href="~/js/thirdParty/AdminLTE/dist/css/skins/skin-purple.min.css">
    <link rel="stylesheet" href="~/js/thirdParty/AdminLTE/dist/css/skins/skin-purple-light.min.css">
    <link rel="stylesheet" href="~/js/thirdParty/AdminLTE/dist/css/skins/skin-red.min.css">
    <link rel="stylesheet" href="~/js/thirdParty/AdminLTE/dist/css/skins/skin-red-light.min.css">
    <link rel="stylesheet" href="~/js/thirdParty/AdminLTE/dist/css/skins/skin-yellow.min.css">
    <link rel="stylesheet" href="~/js/thirdParty/AdminLTE/dist/css/skins/skin-yellow-light.min.css">


    <link rel="stylesheet" href="~/css/adminsite.css" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <!-- Main Header -->
        <header class="main-header">
            <!-- Logo -->
            <a href="" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>SBA</b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Simple Blog </b>Admin</span>
            </a>

            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <a class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="container-fluid">
                    <div class="navbar-header" style="padding-left: 10px">
                        <div class="navbar-text navbar-brand-centered">
                            <h3 id="adminTitle"></h3>
                        </div>
                    </div>
                </div>
            </nav>
            @*<nav class="navbar navbar-static-top" role="navigation">
                    <!-- Sidebar toggle button-->
                    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>
                    <!-- Navbar Right Menu -->
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            <!-- User Account Menu -->
                            <li class="dropdown user user-menu">
                                <!-- Menu Toggle Button -->
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <!-- The user image in the navbar-->
                                    <img src="~/js/thirdParty/AdminLTE/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
                                    <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                    <span class="hidden-xs">TST Admin</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <!-- The user image in the menu -->
                                    <li class="user-header">
                                        <img src="~/js/thirdParty/AdminLTE/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                        <p>
                                            TST Admin
                                            <small>Member since May. 2017</small>
                                        </p>
                                    </li>
                                    <!-- Menu Footer-->
                                    <li class="user-footer">
                                        <div class="pull-right">
                                            <a href="#" class="btn btn-default btn-flat">Sign out</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                </nav>*@
        </header>

        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <div class="sidebar-user-panel">
                <vc:logout></vc:logout>
                @*@{ Html.action("GetLoginInfo", "Account");}*@
            </div>
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar Menu -->
                <ul class="sidebar-menu" id="tst-admin-main-navigation">

                    <li class="treeview">
                        <a href="@Url.Action("Index", "Category")"><i class="fa fa-align-justify" aria-hidden="true"></i> <span>Categories</span></a>
                    </li>
                    <li class="treeview">
                        <a href="@Url.Action("Index", "Post")"><i class="fa fa-sitemap" aria-hidden="true"></i> <span>Posts</span></a>
                    </li>

                </ul>
                <!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div id="tst-admin-main-content" class="content-wrapper container-fluid">
            @RenderBody()
        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="pull-right hidden-xs">
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2018 <a>Simple Blog Admin Page</a>.</strong> All rights reserved.
        </footer>
    </div>
    <!-- ./wrapper -->

    <script src="~/js/adminLTE.js"></script>
    <script src="~/js/thirdParty/loadingoverlay.min.js"></script>
    <script src="~/js/thirdParty/loadingoverlay_progress.min.js"></script>
    <script src="~/js/thirdParty/underscore.min.js"></script>
    <script src="~/js/thirdParty/jquery.dirtyFields.packed.js"></script>
    <script src="~/js/thirdParty/AdminLTE/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <script src="~/js/thirdParty/AdminLTE/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/js/thirdParty/AdminLTE/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/js/thirdParty/AdminLTE/plugins/fastclick/fastclick.min.js"></script>
    <script src="~/js/thirdParty/AdminLTE/plugins/iCheck/icheck.min.js"></script>
    <script src="~/js/thirdParty/tagsinput/js/typeahead.bundle.js"></script>
    <script src="~/js/thirdParty/ckeditor/ckeditor.js"></script>
    <script src="~/js/thirdParty/jquery.serializejson.js"></script>
    <script src="~/js/thirdParty/AdminLTE/bootstrap/js/bootstrap.js"></script>
    <script src="~/js/thirdParty/AdminLTE/dist/js/app.js"></script>
    <script src="~/js/thirdParty/AdminLTE/dist/js/demo.js"></script>
    <script src="~/js/thirdParty/tagsinput/js/bootstrap-tagsinput.js"></script>
    <script src="~/js/thirdParty/jquerydatetimepicker/jquery.datetimepicker.full.js"></script>
    <script src="~/js/thirdParty/AdminLTE/plugins/datatables/extensions/Select/js/dataTables.select.min.js"></script>
    <script src="https://cdn.ckeditor.com/4.7.0/standard/ckeditor.js"></script>

    <script>

        $(document).ready(function () { 
            $('.modal').on('hidden.bs.modal', function () {
                $(this).find('form')[0].reset();
            });
        })

    </script>
</body>
</html>