﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SimpleBlog</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @*<environment include="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/css/site.css" />
        </environment>*@
    @*<environment exclude="Development">
            <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        </environment>*@
</head>
<body>
    <div class="sitenbt" id="pagenbt">
        <a class="skip-link screen-reader-text" href="https://nordic-btemplates.blogspot.com/#contentnbt">//Skip to content</a>
        <header class="site-headernbt" id="mastheadnbt" role="banner">
            <div class="site-brandingnbt">
                <div class="siteheadersec section" id="siteheadersec">
                    <div class="widget Header" data-version="1" id="Header1">
                        <div id="header-inner">
                            <div class="titlewrapper">
                                <h1 class="site-titlenbt">
                                    <a href="~/">Simple Blog</a>
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .site-branding -->
            <br />
            <nav class="main-navigationnbt" id="site-navigationnbt" role="navigation">
                <button aria-controls="primary-menunbt" aria-expanded="false" class="menu-togglenbt"><i class="fa fa-bars"></i></button>
                <div class="menu-primary-menunbt section" id="menu-primary-menunbt">
                    <div class="widget PageList" data-version="1" id="PageList8">
                        <div class="widget-content">
                            <ul class="menunbt nav-menu" id="primary-menunbt" aria-expanded="false">
                                <li id="currentpage"><a href="~/">Home</a></li>
                                <li><a href="@Url.Action("About","Home")">About</a></li>
                                <li><a href="http://facebook.com/">Facebook</a></li>
                                <li><a href="http://twitter.com/">Twitter</a></li>
                                <li><a href="https://youtube.com/">YouTube</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="search-togglenbt">
                    <i class="fa fa-search"></i>
                    <a class="screen-reader-text" href="https://nordic-btemplates.blogspot.com/#search-containernbt">Search</a>
                </div>
            </nav><!-- #site-navigation -->
            <div class="search-box-wrappernbt clearnbt" id="search-containernbt">
                <div class="search-boxnbt clearnbt">
                    <form action="https://nordic-btemplates.blogspot.com/search/" class="search-formnbt" method="get" role="search">
                        <label>
                            <span class="screen-reader-text">Search for:</span>
                            <input class="search-fieldnbt" name="q" placeholder="Search..." type="search" value="">
                        </label>
                        <input class="search-submitnbt" type="submit" value="Search">
                    </form>
                </div>
            </div>
        </header><!-- #masthead -->
        <div class="site-contentnbt" id="contentnbt">
            <div class="content-areanbt" id="primarynbt">
                @RenderBody()
            </div><!-- #primary -->
        </div><!-- #content -->

        <hr />
        <footer>
            <p style="text-align: center;">&copy; 2018 - SimpleBlog</p>
        </footer>
    </div>

    @*<nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">SimpleBlog</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                    </ul>
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </div>
        </nav>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; 2018 - SimpleBlog</p>
            </footer>
        </div>*@


    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @*<environment include="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
        <environment exclude="Development">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>*@

    @RenderSection("Scripts", required: false)
</body>
</html>
